<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean id="user" class="com.qyy.boot.bean.User">-->
<!--        <property name="name" value="秦洋洋"></property>-->
<!--        <property name="age" value="66666"></property>-->
<!--    </bean>-->


<!--    <bean id="cat" class="com.qyy.boot.bean.Pet">-->
<!--        <property name="name" value="汤姆"></property>-->
<!--    </bean>-->
<!--</beans>-->